<div class="container">
  <div class="row mt-5">
    <div class="col-lg-8 col-md-6 mx-auto">
      <div class="card login-register-box">
        <div class="card-header">
          <h2>Log in</h2>
        </div>
        <div class="card-body">
          <%= form_with scope: :admin, url: admin_session_path do |f| %>
            <div class="form-group">
              <%= f.label :username, class: "form-label" %>
              <%= f.text_field :username, autofocus: true, autocomplete: "username", class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.label :password, class: "form-label" %><br />
              <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.submit "Log in" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>