<div class="container">
  <!--プロフィール画像、トロフィー-->
  <div class="row mt-5">
    <div class="col-lg-4 col-md-4">
      <div class="row">
        <h2>ようこそ<%= @user.username %>さん！</h2>
      </div>
      <div class="row">
        <%= image_tag 'eqc-no-image.png', class: "profile-image" %>
      </div>
    </div>
    <div class="col-lg-7 offset-lg-1 col-md-7 offset-md-1">
      <div class="row">
        <h2>
          <i class="fa-solid fa-trophy"></i> Your Trophies
        </h2>
      </div>
      <div class="row mt-3">
        <h4>初級編</h4>
      </div>
      <div class="row trophy-row mt-1">
        <% if @user.gold_trophy_earned_beginner? %>
          <div class="col-4">
            <div class="card trophy-card">
              <%= image_tag 'gold-trophy', class: "torophy-images" %>
            </div>
            <h5 class="text-center trophy-m">Gold</h5>
          </div>
        <% end %>
        <% if @user.silver_trophy_earned_beginner? %>
          <div class="col-4">
            <div class="card trophy-card">
              <%= image_tag 'silver-trophy', class: "torophy-images" %>
            </div>
            <h5 class="text-center trophy-m">Silver</h5>
          </div>
        <% end %>
        <% if @user.bronze_trophy_earned_beginner? %>
          <div class="col-4">
            <div class="card trophy-card">
              <%= image_tag 'bronze-trophy', class: "torophy-images" %>
            </div>
            <h5 class="text-center trophy-m">Bronze</h5>
          </div>
        <% end %>
        <% if @user.gold_trophy_earned_beginner?.blank? && @user.silver_trophy_earned_beginner?.blank? && @user.bronze_trophy_earned_beginner?.blank? %>
          <div class="col-12">
            <p class="text-center trophy-m">レッスンを進めてトロフィーを獲得しよう！</p>
          </div>
        <% end %>
      </div>
      <div class="row mt-3">
        <h4>中級編</h4>
      </div>
      <div class="row trophy-row mt-1">
        <% if @user.gold_trophy_earned_intermediate? %>
          <div class="col-4">
            <div class="card trophy-card">
              <%= image_tag 'gold-trophy', class: "torophy-images" %>
            </div>
            <h5 class="text-center trophy-m">Gold</h5>
          </div>
        <% end %>
        <% if @user.silver_trophy_earned_intermediate? %>
          <div class="col-4">
            <div class="card trophy-card">
              <%= image_tag 'silver-trophy', class: "torophy-images" %>
            </div>
            <h5 class="text-center trophy-m">Silver</h5>
          </div>
        <% end %>
        <% if @user.bronze_trophy_earned_intermediate? %>
          <div class="col-4">
            <div class="card trophy-card">
              <%= image_tag 'bronze-trophy', class: "torophy-images" %>
            </div>
            <h5 class="text-center trophy-m">Bronze</h5>
          </div>
        <% end %>
        <% if @user.gold_trophy_earned_intermediate?.blank? && @user.silver_trophy_earned_intermediate?.blank? && @user.bronze_trophy_earned_intermediate?.blank? %>
          <div class="col-12">
            <p class="text-center trophy-m">レッスンを進めてトロフィーを獲得しよう！</p>
          </div>
        <% end %>
      </div>
      <div class="row mt-3">
        <h4>上級編</h4>
      </div>
      <div class="row trophy-row mt-1">
        <% if @user.gold_trophy_earned_advanced? %>
          <div class="col-4">
            <div class="card trophy-card">
              <%= image_tag 'gold-trophy', class: "torophy-images" %>
            </div>
            <h5 class="text-center trophy-m">Gold</h5>
          </div>
        <% end %>
        <% if @user.silver_trophy_earned_advanced? %>
          <div class="col-4">
            <div class="card trophy-card">
              <%= image_tag 'silver-trophy', class: "torophy-images" %>
            </div>
            <h5 class="text-center trophy-m">Silver</h5>
          </div>
        <% end %>
        <% if @user.bronze_trophy_earned_advanced? %>
          <div class="col-4">
            <div class="card trophy-card">
              <%= image_tag 'bronze-trophy', class: "torophy-images" %>
            </div>
            <h5 class="text-center trophy-m">Bronze</h5>
          </div>
        <% end %>
        <% if @user.gold_trophy_earned_advanced?.blank? && @user.silver_trophy_earned_advanced?.blank? && @user.bronze_trophy_earned_advanced?.blank? %>
          <div class="col-12">
            <p class="text-center trophy-m">レッスンを進めてトロフィーを獲得しよう！</p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <!--進捗具合-->
  <div class="row mt-5">
    <h3>Lessonを続ける</h3>
  </div>
  <div class="row mt-3">
    <div class="col-lg-4 col-md-4">
      <div class="card lesson-card">
        <div class="card-header">
          <h3>Intermediate</h3>
          <h5>Lesson3</h5>
        </div>
        <div class="card-body">
          <p class="card-text">
            <%= image_tag 'intermediate1.png', class: "lesson-images" %>
          </p>
          <p class="card-text">
            現在進行系のレッスン表示。
            終わってたら次のレッスン表示。
          </p>
          <p class="card-text text-right">
            <%= link_to "続ける", "#" %>
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-7 offset-lg-1 col-md-7 offset-md-1">
      <p>ここに進捗具合</p>
      <p>初級編100％</p>
      <p>中級編50%</p>
      <p>みたいな感じで</p>
    </div>
  </div>
  <!--レッスン一覧-->
  <div class="row mt-5">
    <h3><%= link_to "All Lessons", lessons_path %></h3>
  </div>
  <!--初級編-->
  <div class="row mt-3">
    <div class="col-12">
      <h4><%= link_to "Beginner", beginner_lessons_path %></h4>
    </div>
    <div class="col-12">
      <div class="row">
        <!--実際はeach文-->
        <div class="col-lg-4 col-md-6">
          <div class="card lesson-card">
            <div class="card-header">
              <h3>Beginner</h3>
              <h5>Lesson1</h5>
            </div>
            <div class="card-body">
              <p class="card-text">
                <%= image_tag 'beginner1.png', class: "lesson-images" %>
              </p>
              <p class="card-text">
                ここにレッスン内容。
                大体３〜４行くらい？
                カード全体をリンクにするか始めるボタン？
                タイトル押したらどうする？
                使用ロゴは背景透過で
              </p>
              <p class="card-text text-right">
                <%= link_to "はじめる", "#" %> /
                <%= link_to "続ける", "#" %>
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="card lesson-card">
            <div class="card-header">
              <h3>Beginner</h3>
              <h5>Lesson2</h5>
            </div>
            <div class="card-body">
              <p class="card-text">
                <%= image_tag 'beginner1.png', class: "lesson-images" %>
              </p>
              <p class="card-text">
                ここにレッスン内容。
                大体３〜４行くらい？
                カード全体をリンクにするか始めるボタン？
                タイトル押したらどうする？
                使用ロゴは背景透過で
              </p>
              <p class="card-text text-right">
                <%= link_to "はじめる", "#" %> /
                <%= link_to "続ける", "#" %>
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="card lesson-card">
            <div class="card-header">
              <h3>Beginner</h3>
              <h5>Lesson3</h5>
            </div>
            <div class="card-body">
              <p class="card-text">
                <%= image_tag 'beginner1.png', class: "lesson-images" %>
              </p>
              <p class="card-text">
                ここにレッスン内容。
                大体３〜４行くらい？
                カード全体をリンクにするか始めるボタン？
                タイトル押したらどうする？
                使用ロゴは背景透過で
              </p>
              <p class="card-text text-right">
                <%= link_to "はじめる", "#" %> /
                <%= link_to "続ける", "#" %>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--中級編-->
  <div class="row mt-3">
    <div class="col-12">
      <h4><%= link_to "Intermediate", intermediate_lessons_path %></h4>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="card lesson-card">
        <div class="card-header">
          <h3>Intermediate</h3>
          <h5>Lesson1</h5>
        </div>
        <div class="card-body">
          <p class="card-text">
            <%= image_tag 'intermediate1.png', class: "lesson-images" %>
          </p>
          <p class="card-text">
            ここにレッスン内容。
            大体３〜４行くらい？
            カード全体をリンクにするか始めるボタン？
            タイトル押したらどうする？
            使用ロゴは背景透過で
          </p>
          <p class="card-text text-right">
            <%= link_to "はじめる", "#" %> /
            <%= link_to "続ける", "#" %>
          </p>
        </div>
      </div>
    </div>
  </div>
  <!--上級編-->
  <div class="row mt-3 mb-5">
    <div class="col-12">
      <h4><%= link_to "Advanced", advanced_lessons_path %></h4>
    </div>
    <div class="col-12">
      <div class="row">
        <!--実際はeach文-->
        <div class="col-lg-4 col-md-6">
          <div class="card lesson-card">
            <div class="card-header">
              <h3>Advanced</h3>
              <h5>Lesson1</h5>
            </div>
            <div class="card-body">
              <p class="card-text">
                <%= image_tag 'advanced1.png', class: "lesson-images" %>
              </p>
              <p class="card-text">
                ここにレッスン内容。
                大体３〜４行くらい？
                カード全体をリンクにするか始めるボタン？
                タイトル押したらどうする？
                使用ロゴは背景透過で
              </p>
              <p class="card-text text-right">
                <%= link_to "はじめる", "#" %> /
                <%= link_to "続ける", "#" %>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>